body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Màu nền trắng */
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff; /* Màu nền trắng */
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    text-align: center;
    color: #dc3545; /* Màu chữ đỏ */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #000000; /* Màu chữ đen */
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #dc3545; /* Viền đỏ */
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #dc3545; /* Màu nền nút đỏ */
    color: #ffffff; /* Màu chữ trắng */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c82333; /* Màu nền nút đỏ khi hover */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .delete-button {
    background-color: #dc3545; /* Màu nút xóa đỏ */
  }
  