/* File: styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Màu trắng */
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Màu trắng */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    text-align: center;
    color: #dc3545; /* Màu đỏ */
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #495057; /* Màu xám đậm */
  }
  
  textarea, input[type="text"], input[type="number"], select {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ced4da; /* Màu xám nhạt */
  }
  
  button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545; /* Màu đỏ */
    color: #ffffff; /* Màu trắng */
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c82333; /* Màu đỏ tối */
  }
  
  #specificTimeContainer {
    margin-top: 10px;
  }
  
  #specificTimeContainer label {
    display: block;
    margin-bottom: 5px;
    color: #495057; /* Màu xám đậm */
  }
  
  .question-item {
    border: 1px solid #ced4da; /* Màu xám nhạt */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff; /* Màu trắng */
  }
  
  .question-number {
    margin-bottom: 5px;
  }
  
  .actions {
    margin-top: 10px;
  }
  
  .edit-button, .delete-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #dc3545; /* Màu đỏ */
    color: #ffffff; /* Màu trắng */
  }
  
  .delete-button {
    background-color: #28a745; /* Màu xanh lá */
    color: #ffffff; /* Màu trắng */
  }
  
  .edit-button:hover, .delete-button:hover {
    opacity: 0.8;
  }
  