body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Màu nền */
    color: #dc3545; /* Màu chữ */
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff; /* Màu nền */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #dc3545; /* Màu tiêu đề */
  }
  
  h3 {
    color: #dc3545; /* Màu tiêu đề phụ */
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545; /* Màu nút */
    color: #ffffff; /* Màu chữ nút */
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c82333; /* Màu nút khi hover */
  }
  